.stubovi{
    position: absolute;
    top:50%;
    left: 15%;
    right:15%;
   

}
.fas{
    color:black;
}

.background-image {
    background-image: url('../images/background.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh; 
}